body {
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
  }

.transition-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8E7871;
}

canvas { 
    margin: 0 auto; 
    text-align: center;
}

.main-page {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    transform: scale(0, 0);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 0.8s ease-in forwards 2.2s;
}

.main-content {
    font-family: Allura;
    font-size: 5em;
    opacity: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("back-wave.svg"); */
    animation: fadeInBottom 2.5s ease forwards 3s;
}

.layer1 {
    position: absolute;
    bottom: 0;
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("front-wave.svg");
    z-index: 2;
    opacity: 0;
    animation: fadeInBottom 2.5s ease forwards 3s;
}

.top {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    opacity: 0;
    animation: fadeInTop 1s ease forwards 3s;
}

.logo {
    padding: 0 0 0 1vw;
    height: 100%;
    opacity: 0;
    animation: fadeInTop 2.5s ease forwards 3.2s;
}

.logo img {
    height: 100%;
}

.nav-bar {
    padding: 2vh 0 2vh 0;
    opacity: 0;
    animation: fadeInRight 2s ease forwards 3.5s;
}

.nav-bar a {
    font-family: Alice;
    font-size: 1.3em;
    font-weight: bold;
    padding: 2vw;
    text-decoration: none;
    color: #8E7871; 
}

a[target="_blank"]::after {
    content: "" / "opens in new tab/window";
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    background: url("new-window-icon.png");
    background-size: contain;
    margin: 0 0.3em 0 0.3em;
}

.nav-bar a:hover {
    cursor: pointer;
}

.header, .headshot {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    color: #8E7871;
}

.headshot {
    z-index: 1;
}

.headshot img {
    height: 100%;
}

@keyframes animate {
    0% {
      transform: scale(0, 0.005);
    }
    50% {
      transform: scaleY(0.005);
    }
    100% {
      transform: scale(1, 1);
    }
}

@keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}

@keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-15%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(8%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}

#appear-after {
    display: none;
    font-family: Alice;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: center;
    background-color: #f7efe9;
    padding: 10vh 20vw 0 20vw;
}

.about h1 {
    font-size: 3em;
}

.about p {
    font-size: 1.3em
}

.about a {
    text-decoration: none;
    color: #8E7871;
    font-weight: 500;
}

.about a:hover {
    font-weight: bolder;
}

.experience {
    background-image: linear-gradient(#f7efe9, #8E7871);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vw 5vh 10vw;
}

.project-card {
    background-color: white;
    border: #8E7871;
    border-style: double;
    border-radius: 1.5em;
    border-width: 0.3em;
    width: 70%;
    padding: 3vh 2vw 3vh 2vw;
    margin: 3vh 0 2vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card:hover {
    opacity: 1;
    transform: scale(1.05,1.05);
    box-shadow: 0.2em 0.2em 0.2em grey;
}

.experience h1 {
    font-size: 3em;
}

.experience p {
    font-size: 1.1em;
}

.experience a {
    text-decoration: none;
    color: #8E7871;
}

.experience a:hover {
    font-weight: bolder;
}

.diagram {
    background-image: url("paper.jpg");
    background-size: contain;
    margin: 0 0 0 2vw;
}

.tools {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.tools span {
    background-color: #8E7871;
    border-radius: 1em;
    padding: 0 1vw 0 1vw;
    height: 4.5vh;
    margin: 0 0.5vw 0 0.5vw;
    color: white;
    display: flex;
    align-items: center;
}

.project {
    background-color: #8E7871;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h1 {
    font-size: 3em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 80%;
    border: #8E7871;
    border-style: double;
    border-radius: 1.5em;
    border-width: 0.3em;
    margin: 0 0 10vh 0;
    background-color: white;
    box-shadow: 0.2em 0.2em 0.2em grey;
    overflow: hidden;
    flex-direction: row;
    position: relative;
}

.left-zone {
    height: 100%;
    width: 30%;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    display: flex;
}
  
.project-list {
    display: flex;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.project-item input {
    display: none;
}

.project-item label {
    display: block;
    opacity: 0.8;
    height: 5vh;
    font-size: 1.5em;
    position: relative;
    border-right: 0.1em solid #8E7871;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    padding-right: 2vw;
}

.label1:before {
    content: " ";
    display: block;
    width: 2em;
    height: 2em;
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-image: url("zen_stock_logo.png");
}

.label2:before {
    content: " ";
    display: block;
    width: 2em;
    height: 2em;
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-image: url("chiron_logo.png");
    border-radius: 50%;
}

.label3:before {
    content: " ";
    display: block;
    width: 2em;
    height: 2em;
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-image: url("carla_logo.png");
    border-radius: 50%;
}

.project-item label:hover {
    background-image: linear-gradient(to right,#f7efe9, #8E7871);
    font-weight: bold;
}

.project-item label:hover {
    opacity: 0.75;
    cursor: pointer;
}

.content-test {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    height: 100%;
    width: 70%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    pointer-events: none;
}

.content-test h1 {
    margin: 1vh;
    color: #8E7871;
}

.content-test h3 {
    border-bottom: 0.1em solid black;
    padding: 0 2vw 2vh 2vw;
}

.content-test p {
    width: 70%;
    font-size: 1.2em;
    text-align: center;
}

.right-zone {
    width: 70%;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    height: 100%;
}
  
input:checked ~ .content-test {
    transform: translateY(0%);
    transition: transform 1s, -webkit-transform 1s;
    opacity: 1;
}

input:checked ~ label {
    background-image: linear-gradient(to right,#f7efe9, #8E7871);
    color: white;
    font-weight: bold;
    opacity: 1;
}

.picto {
    height: 3em;
    width: 3em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content1 > span {
    background-image: url("zen_stock_logo.png");
}

.content2 > span {
    background-image: url("chiron_logo.png");
    border-radius: 50%;
}

.content3 > span {
    background-image: url("carla_logo.png");
}

.layer2 {
    aspect-ratio: 720/144;
    background-image: url("bottom-wave.svg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact {
    position: relative;
    width: 60%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.contact form {
    width: 100%;
    display: inline-block;
}

.contact h1 {
    font-size: 3em;
}