body {
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
  }

.transition-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8E7871;
}

canvas { 
    margin: 0 auto; 
    text-align: center;
}

.main-page {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    transform: scale(0, 0);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 0.8s ease-in forwards 2.2s;
}

.main-content {
    font-family: Allura;
    font-size: 5em;
    opacity: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("back-wave.svg"); */
    animation: fadeInBottom 2.5s ease forwards 3s;
}

.spacer {
    position: absolute;
    bottom: 0;
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url("front-wave.svg");
    z-index: 2;
    opacity: 0;
    animation: fadeInBottom 2.5s ease forwards 3s;
}

.top {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    opacity: 0;
    animation: fadeInTop 1s ease forwards 3s;
}

.logo {
    padding: 0 0 0 1vw;
    height: 100%;
    opacity: 0;
    animation: fadeInTop 2.5s ease forwards 3.2s;
}

.logo img {
    height: 100%;
}

.nav-bar {
    padding: 2vh 0 2vh 0;
    opacity: 0;
    animation: fadeInRight 2s ease forwards 3.5s;
}

.nav-bar a {
    font-family: Alice;
    font-size: 1.3em;
    font-weight: bold;
    padding: 2vw;
    text-decoration: none;
    color: #8E7871; 
}

a[target="_blank"]::after {
    content: "" / "opens in new tab/window";
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    background: url("new-window-icon.png");
    background-size: contain;
    margin: 0 0.3em 0 0.3em;
}

.nav-bar a:hover {
    cursor: pointer;
}

.header, .headshot {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    color: #8E7871;
}

.headshot {
    z-index: 1;
}

.headshot img {
    height: 100%;
}

@keyframes animate {
    0% {
      transform: scale(0, 0.005);
    }
    50% {
      transform: scaleY(0.005);
    }
    100% {
      transform: scale(1, 1);
    }
}

@keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}

@keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-15%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(8%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}

#appear-after {
    display: none;
    font-family: Alice;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: center;
    background-color: #f7efe9;
    padding: 10vh 20vw 0 20vw;
}

.about h1 {
    font-size: 3em;
}

.about p {
    font-size: 1.3em
}

.about a {
    text-decoration: none;
    color: #8E7871;
    font-weight: 500;
}

.about a:hover {
    font-weight: bolder;
}

.experience {
    background-image: linear-gradient(#f7efe9, #8E7871);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vw 5vh 10vw;
}

.project-card {
    background-color: white;
    border: #8E7871;
    border-style: double;
    border-radius: 1.5em;
    border-width: 0.3em;
    width: 70%;
    padding: 3vh 2vw 3vh 2vw;
    margin: 3vh 0 2vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card:hover {
    opacity: 1;
    transform: scale(1.05,1.05);
    box-shadow: 0.2em 0.2em 0.2em grey;
}

.experience h1 {
    font-size: 3em;
}

.experience p {
    font-size: 1.1em;
}

.diagram {
    background-image: url("paper.jpg");
    background-size: cover;
    margin: 0 0 0 2vw;
}

.tools {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.tools span {
    background-color: #8E7871;
    border-radius: 1em;
    padding: 0 1vw 0 1vw;
    height: 4.5vh;
    margin: 0 0.5vw 0 0.5vw;
    color: white;
}

.project {
    background-color: #8E7871;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h1 {
    font-size: 3em;
}
