/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

body::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
}

.None {
  height: 100vh;
  width: 100%;
}

.Header {
  background-image: url("background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position:relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.Nav {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100;
  height: 10vh;
}

.Nav li {
  float: right;
  padding: 2%;
  color:#403d3b;
  font-family: 'Outfit', sans-serif;
}

.Nav > li > a:link { 
  text-decoration: none; 
  color: #403d3b;
}

.Nav > li > a:visited { 
  text-decoration: none; 
  color: #403d3b;
}

.Nav > li > a:hover { 
  text-decoration: none; 
  color: #000000;
  font-weight:800;
}

.Nav > li > a:active { 
  text-decoration: none; 
}

.Row {
  height: 90vh;
  width: 100vw;
  font-family: Outfit;
}

@media only screen and (max-width: 1023px) {
  .App-header {
    font-size: 8vw;
    text-align: center;
  }
  .Intro-header h1 {
    font-size: 5vw;
  }
  .Intro-header p {
    font-size: 2.5vw;
  }
  .Header-container > p {
    font-size: 5vw;
  }
  .Row{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
  }
  .Nav > li > a:link {
    font-size: 2vw;
  }
  .Resume {
    font-size: 3.5vw;
  }
  .Project-header {
    font-size: 5vw;
  }
  .Project-name {
    font-size: 7vw;
  }
  .Project-content {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 1024px) {
  .Intro-header h1{
    font-size: 2.5vw;
  }
  .Intro-header p{
    font-size: 1.5vw;
  }
  .App-header {
    font-size: 5vw;
    text-align: left;
  }
  .Header-container > p {
    font-size: 2vw;
  }
  .Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .Resume {
    position: absolute;
    top: 30%; 
    right: 20%;
    font-size: 50%;
  }
  .Nav > li > a:link {
    font-size: 1.5vw;
  }
  .Project-header {
    font-size: 2.5vw;
  }
  .Project-name {
    font-size: 2.8vw;
  }
  .Project-content {
    font-size: 1.8vw;
  }
}

.App-header {
  color: #403d3b;
  font-family: 'Outfit', sans-serif;
  font-weight:bold;
  line-height: 0.5;
  transform: translateX(-20%);
  opacity: 0;
}

.App-header.reveal, .Header-container.reveal {
  transform: translateX(0);
  opacity: 1;
  transition: all ease-in 1s;
}

.Header-container.reveal {
  transition-delay: 0.5s;
}

.Dot {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
}

.Header-container {
  white-space: nowrap;
  transform: translateX(20%);
  opacity: 0;
}

.Header-container > div > p.reveal {
  transform: translateX(0);
  transition: all ease-in 1s;
  transition-delay: 0.5s;
  opacity: 1;
}

.Header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.Dot > img{
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

.About-wrapper {
  position: absolute;
  top: 95vh;
  left: 5vw;
  right: 5vw;
  min-height: 50vh;
  width: 90vw;
  background-color: white;
  padding-top: 8vh;
  padding-bottom: 8vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 0;
  border-radius: 55px;
}

.About {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 45vh;
  padding-left: 10%;
  padding-right: 10%;
}

.About img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Intro-header {
  font-family: Outfit;
  max-width: 70%;
  text-align: center;
}

.Intro-header h1 {
  font-weight: bold;
  transform: translateY(100%);
  opacity: 0;
}

.Intro-header p {
  transform: translateY(50%);
  opacity: 0;
  overflow-y: scroll;
  text-align: justify;
}

.Intro-header p::-webkit-scrollbar {
  display: none;
}

.About img{
  transform: translateY(50%);
  opacity: 0;
  margin: 0;
}

.Intro-header p.reveal {
  transform: translateY(0);
  opacity: 1;
  Transition: all ease-in 1.5s;
}

.About img.reveal{
  transform: translateY(0);
  opacity: 1;
  Transition: all ease-in 1.5s;
}

.Intro-header h1.reveal {
  transform: translateY(0);
  opacity: 1;
  Transition: all ease-in 1.5s;
}

.Links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 40%;
  padding-right: 40%;
  opacity: 0;
}

.Links img {
  width: 8vh;
  height: 8vh;
  transform: scale(0.8);
  border-radius: 50%;
  padding-left: 2vw;
  padding-right: 2vw;
  object-fit: cover;
}

.Links.reveal {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 2s;
  transition: all ease-in 1.5s;
}

.Links img:hover {
  transform: scale(1);
}

.Profile {
  margin-right: 5vh;
  margin-left: 15vh;
}

.Projects {
  position: relative;
  left: 0;
  min-height: 150vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Outfit;
  font-weight: bold;
  z-index: -1;
}

.Project-header {
  background-color: rgb(210, 179, 184);
  position: relative;
}

.Projects h1 {
  margin: 0;
  padding: 5vh;
}

.Project-spacer {
  min-height: 90vh;
  background-color: rgb(210, 179, 184);
}

.Project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Project-container.first {
  background-color: rgb(210, 179, 184);
}

.Project-container.second {
  background-color: #d8cfca;
  min-height: 70vh;
  padding-bottom: 30vh;
  position: relative;
  z-index: 1;
  overflow: visible;
}

.Project-container.second::before, .Project-container.second::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: inherit;
  transform-origin: left top;
  transform: skewY(-10deg);
}

.Project {
  position: relative;
  top: 0;
  left: 0;
  width: 50vh;
  height: 50vh;
  background-color: white;
  margin: 10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10%;
  text-align: center;
  z-index: 5;
}

.Project-name {
  transform: translateY(50%);
}

.Project:hover .Project-name {
  transform: translateY(10%);
  transition: 1s;
}

.Project:hover .Project-content {
  transform: translateY(-5%);
  opacity: 1;
  transition: 1s;
  text-align: center;
}

.Project-content {
  color: #403d3b;
  transform: translateY(50%);
  opacity: 0;
  text-align: center;
  overflow-wrap: break-word;
}

.Project-content > p {
  padding-left: 2vh;
  padding-right: 2vh;
}

.Project-content > button {
  text-decoration: none;
  color: white;
  background-color: #403d3b;
  font-family: Outfit;
  padding: 2vh;
  position: relative;
  transform: scaleX(1);
  transform: scaleY(1);
}

.Project-content > button:hover {
  background-color: rgb(176, 144, 149);
  color: #403d3b;
  cursor: pointer;
}

.Project-modal {
  position: relative;
  margin: 8vh;
  padding: 10vh;
  height: 65vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Outfit;
  z-index: 100;
  overflow-y: auto;
}

.Project-modal button {
  position: absolute;
  top: 0;
  right: 0;
  width: 5vh;
  background: white;
  border: white;
  padding: 1vh;
  font-size: 1.5vw;
  font-family: Outfit;
  font-weight: bolder;
}

.Project-modal button:hover {
  cursor: pointer;
}

.Project-content .border {
  position: absolute;
  left: 0;
  background-color: #403d3b;
}

.Project-modal a:link {
  color: #403d3b;
  text-decoration: none;
}

.Project-modal a:visited {
  color: #403d3b;
}

.Project-content .border-top,
.Project-content .border-bottom {
  width: 100%;
  height: 0.8vh;
  left: 0;
  transform: scaleX(0);
}
.Project-content .border-left,
.Project-content .border-right {
  width: 0.8vh;
  height: 100%;
  transform: scaleY(0);
}
.Project-content .border-top,
.Project-content .border-left,
.Project-content .border-right {
  top: 0;
}
.Project-content .border-bottom {
  bottom: 0;
  transform-origin: bottom right;
}
.Project-content .border-top {
  transform-origin: top left;
}
.Project-content .border-left {
  transform-origin: bottom left;
}
.Project-content .border-right {
  left: auto;
  right: 0;
  transform-origin: top right;
}
.Project-content .border {
  transition: transform 0.8s ease-in-out;
}
.Project-content button:hover .border-top,
.Project-content button:hover .border-bottom {
  transform: scaleX(1);
}
.Project-content button:hover .border-left,
.Project-content button:hover .border-right {
  transform: scaleY(1);
}
.Project-content button:hover .border-left {
  transform-origin: top left;
}
.Project-content button:hover .border-right,
.Project-content button:hover .border-bottom {
  transform-origin: bottom right;
}
.Project-content[data-animation="diagonal"] a:hover [class^=border]{
  transition-delay: 0s;
}

.Contact {
  position: absolute;
  top: -30vh;
  left: 5vw;
  right: 5vw;
  min-height: 50vh;
  width: 90vw;
  background-color: #f6e5d0;
  padding-top: 8vh;
  padding-bottom: 8vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
}

.Contact > h1 {
  font-family: Outfit;
  text-align: center;
  transform: translateY(50%);
  opacity: 0;
}

.Contact form {
  width: 50%;
  font-family: Outfit;
  display: inline-block;
  transform: translateY(30%);
  opacity: 0;
}

.Contact form.reveal, h1.reveal{
  transform: translateY(0%);
  opacity: 1;
  transition: all ease-in 1s;
}

.Contact input[type=text], input[type=email] { 
  margin-bottom: 3vh;
  width: 100%;
  padding: 1vh;
  font-family: Outfit;
  border-radius: 15px;
  border-width: 1px;
}

.Contact textarea {
  padding: 2vh;
  width: 98%;
  font-family: Outfit;
  margin-bottom: 2vh;
  border-radius: 15px;
}

.Contact input[type=submit] {
  background-color: #b9b1ad;
  color: white;
  width: 104%;
  padding: 1.5vh;
  text-align: center;
  font-family: Outfit;
  border: none;
  color: #403d3b;
  border-radius: 15px;
}

.Contact input[type=submit]:hover {
  background-color: #403d3b;
  color: white;
  cursor: pointer;
}

.Footer-spacer {
  min-height: 40vh;
}

.Footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: -1;
  position: relative;
  min-height: 50vh;
}

.Footer-links {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 38vw;
  margin-right: 40vw;
}

.Footer-links > div {
  line-height: 1.5vh;
}

.Footer-links > div > ul {
  margin: 0;
  padding: 0;
}

.Footer-links a:link {
  text-decoration: none;
  color: #403d3b;
  font-size: 0.8vw;
  font-family: Outfit;
}

.Footer-links a:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Footer-links a:active {
  text-decoration: none;
  color: #b9b1ad;
}

.Footer-links a:visited {
  text-decoration: none;
  color: #403d3b;
}

.Footer p {
  border-top: #b9b1ad;
  border-right: white;
  border-left: white;
  border-bottom: white;
  border-width: 0.3vh;
  border-style: solid;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 0.6vw;
  font-family: Outfit;
  color: #403d3b;
  padding-top: 1vh;
  text-align: center;
}

.Resume {
  width: 15vh;
  height: 10vh;
  border-radius: 50%;
  background-color: #b9b1ad;
  border-color: black;
  transform: scale(0.8);
  font-family: Outfit;
  font-weight: bold;
  color: black; 
}

.Resume:hover {
  cursor: pointer;
  background-color: #e4d5b7;
  transform: scale(1);
  border-style: double;
}

.Resume-embed {
  z-index: 500;
}

.Resume-img {
  height: auto;
}

.Project-modal.resume {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Project-modal.resume > iframe {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}